@{
    ViewData["Title"] = "Início";
}

<div class="text-center" style="padding-top: 10%; padding-bottom: 10%;">
    <h1 class="display-4">Bem vindo ao sistema de gerência de usuários</h1><br />
    <p>Utilize os menus de navegação para acessar as funcionalidades do sistema.</p>
</div>
